.DraftEditor-root{
    //revisamos el color que tiene la barra de texto enriquecido y pongo el mismo
    border: 1px solid #f1f1f1;
    padding: 20px;
    border-radius: 3px;
}
.rdw-embedded-modal{
    left:-128px;
}
.rdw-emoji-modal{
    left: -174px;
}
.rdw-image-modal{
    left: -218px;
}